body {
    color: #fafafa;
    font-size: 1.4rem;
    font-family: 'Mulish Regular', sans-serif;
}

.page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.4rem;
    height: 100vh;
    background-color: #121212;
    text-align: center;
}
